@page "/"

<h1>Welcome!</h1>

<NavLink class="nav-link" href="login">
    <button class="btn btn-primary" type="button">Log In</button>
</NavLink>
<NavLink class="nav-link" href="login">
    <button class="btn btn-primary" type="button">Sign Up</button>
</NavLink>
