@using MySqlConnector;
@page "/"

<h1>Welcome!</h1>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <!-- Input field for username -->
                <input type="text" class="form-control" @bind="@username" placeholder="Username" />
            </div>
            <div class="input-group mb-3">
                <!-- Input field for password -->
                <input type="text" class="form-control" @bind="@password" placeholder="Password" />
            </div>
            <div class="input-group mb-3">
                <!-- Button to sign in -->
                <button class="btn btn-primary" type="button" @onclick="SignIn">Log In</button>
            </div>
            <div>
                @if (message != null)
                {
                    if (message == "bad user")
                    {
                        <!-- Display message for invalid user -->
                        <p>User does not exist</p>
                    }
                    if (message == "bad pass")
                    {
                        <!-- Display message for incorrect password -->
                        <p>Password is incorrect</p>
                    }
                    if (message == "good login")
                    {
                        <!-- Display welcome message for successful login -->
                        <p>Welcome @user.Name"</p>
                    }
                }
                else
                {
                    <!-- Empty paragraph to handle rendering -->
                    <p></p>
                }
            </div>
        </div>
    </div>
</div>

@code {
    sqlHandler handler = new sqlHandler(); // SQL handler instance

    // int variable to store the text of the username
    public int? username = null;
    // String variable to store the text of the password
    public string password = "";

    public string? message; // Message to display login status

    internal static User user; // Current user object

    // Method to handle sign-in button click
    private void SignIn()
    {
        foreach (var curUser in handler.users)
        {
            if (curUser.UserID == username)
            {
                user = curUser;
                if (user.Password == password)
                {
                    message = $"Welcome {user.Name}"; // Set welcome message for successful login
                }
                else
                {
                    message = "bad pass"; // Set message for incorrect password
                }
                break;
            }
            else
            {
                message = "bad user"; // Set message for invalid user
            }
        }
    }
}
