@inject UserService UserService
@page "/rental"
<h3>Rental</h3>

<div>
	<p>Welcome, @currentUser!</p>
</div>

@code {
	private string currentUser;

	protected override void OnInitialized()
	{
		// Access the current user from the UserService
		currentUser = UserService.CurrentUser;
	}
}
